MYSQL_DATABASE=drupal
MYSQL_USER=drupal
MYSQL_PASSWORD=drupal
MYSQL_HOST=mariadb
#DOCKER_UID=1000
#DOCKER_GID=1000
#COMPOSE_FILE=docker-compose.yml:docker-compose.local.yml
#AWS_CLI_PROFILE=default
#AWS_S3_BUCKET=www.example.com
